<div class="container mx-auto px-4 py-6">
  <h1 class="text-3xl text-center font-bold mb-6">{{(recipeBook$|async)?.title ?? "Recipe List"}}</h1>
  <div class="flex flex-col gap-4" infiniteScroll [infiniteScrollDistance]="2" (scrolled)="onScroll()">
    <input
      type="text"
      placeholder="Search recipes"
      (keyup)="onSearchTextChange($event)"
      class="bg-white rounded-md px-4 py-2 shadow-md"
    />

    <div *ngIf="recipes$ | async as pagination" class="flex flex-col gap-4">
      <a *ngFor="let recipe of pagination.results" routerLink="/recipe/{{ recipe.id }}"
         class="bg-card h-40 p-6 shadow-md rounded-xl overflow-hidden flex flex-row">
        <img class="h-full aspect-[1/1] rounded-2xl object-cover object-center" [src]="sanitizeImageUrl(recipe.image)"
             alt="{{ recipe.title }}">
        <div class="pl-4 flex flex-col">
          <h1 class="text-xl text-text  font-bold mb-2">{{ recipe.title }}</h1>
          <p class="flex-1 text-primary text-base overflow-auto">{{ recipe.description }}</p>
        </div>
        <div class="flex-1"></div>
        <div class="flex flex-col justify-between">
          <a *ngIf="canEdit" routerLink="/recipe/{{ recipe.id }}/edit">
            <svg class="w-6 h-6 fill-primary hover:text-text"
                 xmlns="http://www.w3.org/2000/svg" viewBox="0 96 960 960">
              <path
                d="M180 876h44l443-443-44-44-443 443v44Zm614-486L666 262l42-42q17-17 42-17t42 17l44 44q17 17 17 42t-17 42l-42 42Zm-42 42L248 936H120V808l504-504 128 128Zm-107-21-22-22 44 44-22-22Z"/>
            </svg>
          </a>
          <button (click)="delete(recipe)">
            <svg xmlns="http://www.w3.org/2000/svg"  viewBox="0 -960 960 960" class="w-6 h-6 fill-primary hover:text-text">
              <path
                d="M261-120q-24 0-42-18t-18-42v-570h-41v-60h188v-30h264v30h188v60h-41v570q0 24-18 42t-42 18H261Zm106-146h60v-399h-60v399Zm166 0h60v-399h-60v399Z"/>
            </svg>
          </button>
        </div>
      </a>
      <div *ngIf="pagination.count==0" class="text-center">
        Quite empty here, add new recipes to see them here.
      </div>
    </div>
  </div>
</div>
