

<div class="container mx-auto px-4 py-6">
  <h1 class="text-3xl text-center font-bold mb-6">Recipe List2</h1>
  <div class="flex flex-col gap-4" infiniteScroll [infiniteScrollDistance]="2" (scrolled)="onScroll()">
    <input
      type="text"
      placeholder="Search recipes"
      (keyup)="onSearchTextChange($event)"
      class="bg-white rounded-md px-4 py-2 shadow-md"
    />

    <div *ngIf="recipes$ | async as pagination" class="flex flex-col gap-4">
      <a *ngFor="let recipe of pagination.results" routerLink="/recipe/{{ recipe.id }}"
         class="bg-card h-40 p-6 shadow-md rounded-xl overflow-hidden flex flex-row">
        <img class="h-full aspect-[1/1] rounded-2xl object-cover object-center" [src]="sanitizeImageUrl(recipe.image)"
             alt="{{ recipe.title }}">
        <div class="pl-4 flex flex-col">
          <h1 class="text-xl text-text  font-bold mb-2">{{ recipe.title }}</h1>
          <p class="flex-1 text-primary text-base overflow-auto">{{ recipe.description }}</p>
        </div>
      </a>
      <div *ngIf="pagination.count==0" class="text-center">
        Quite empty here, add new recipes to see them here.
      </div>
    </div>
  </div>
</div>
