{% extends "recipes/with_navbar.html" %}
{% block page %}
    <div class="container mx-auto px-4 py-6">
    <h1 class="text-3xl text-center font-bold mb-6">Recipe List</h1>
    <div class="">
      {% for recipe in object_list %}
        <div class="bg-card shadow-md rounded-xl overflow-hidden flex flex-row">
          <img class="w-full h-64 object-cover object-center" src="{{ recipe.image.url }}" alt="{{ recipe.title }}">
          <div class="px-4 py-4">
            <h2 class="text-xl font-bold mb-2">{{ recipe.title }}</h2>
            <p class="text-gray-700 text-base">{{ recipe.description }}</p>
          </div>
        </div>
      {% endfor %}
    {% for recipe in object_list %}
        <div class="bg-card shadow-md rounded-xl overflow-hidden flex flex-row">
          <img class="w-full h-64 object-cover object-center" src="{{ recipe.image.url }}" alt="{{ recipe.title }}">
          <div class="px-4 py-4">
            <h2 class="text-xl font-bold mb-2">{{ recipe.title }}</h2>
            <p class="text-gray-700 text-base">{{ recipe.description }}</p>
          </div>
        </div>
      {% endfor %}
    {% for recipe in object_list %}
        <div class="bg-warning shadow-md rounded-xl overflow-hidden flex flex-row">
          <img class="w-full h-64 object-cover object-center" src="{{ recipe.image.url }}" alt="{{ recipe.title }}">
          <div class="px-4 py-4">
            <h2 class="text-xl font-bold mb-2">{{ recipe.title }}</h2>
            <p class="text-gray-700 text-base">{{ recipe.description }}</p>
          </div>
        </div>
      {% endfor %}
    {% for recipe in object_list %}
        <div class="bg-card shadow-md rounded-xl overflow-hidden flex flex-row">
          <img class="w-full h-64 object-cover object-center" src="{{ recipe.image.url }}" alt="{{ recipe.title }}">
          <div class="px-4 py-4">
            <h2 class="text-xl font-bold mb-2">{{ recipe.title }}</h2>
            <p class="text-gray-700 text-base">{{ recipe.description }}</p>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{%  endblock %}